---

---

{% include header.html %}

<style>
    #welcome {
        transition: all 1000ms;

        display: inline-block;
    }

    #content1.notLoaded #welcome {
        opacity: 0;
        transform: translateY(30px);
        filter: blur(5px);
    }

    #content1 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        /*perspective: 2px;*/
    }

    #content1.notLoaded::after{
        filter: none;
    }

    #content1::after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: url("/img/header-background.jpg") center bottom no-repeat;
        background-size: cover;
        background-attachment: fixed;

        z-index: -1;

        filter: blur(20px);

        /*transform: translateZ(-1px) scale(1.5);*/

        transition: filter 1000ms;
    }

    #content1.notLoaded::before{
        opacity: 0;
    }

    #content1::before{
        content: "";
        height: 200px;
        width: 200px;

        background-image: url('/img/hexagon.svg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        position: absolute;
        top: 50%;
        left: 25%;

        opacity: 0.3;

        animation: hexagon 20s infinite;

        transition: opacity 1000ms;
    }

    #cowsrock.hidden {
        opacity: 0;
    }

    #cowsrock {
        transition: all 1000ms;
        filter: none;
        opacity: 1;
    }

    @keyframes hexagon{
        0%{
            transform: none;
        }
        50%{
            transform: translateY(-40px) scale(1.1);
        }
        0%{
            transform: none;
        }
    }

    /*#content2::before{
        content: "";

        height: 400px;
        width: 400px;

        background-image: url("/img/hexagon-orange.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        position: absolute;
        right: 0;
        top: 25%;

        opacity: 0.5;
    }*/
</style>

<div id="content1" class="content notLoaded">
    <div style="display:inline-block;position: relative;">
        <div id="welcome" style="background-color: rgba(0, 0, 0, 0.5);padding:30px;position:relative">
            <h1 class="underline" style="text-transform: uppercase">The world is changing</h1>
            <h2 style="font-weight:400">Is your business keeping up?</h2>
            <button class="bold">Learn more <i class="fas fa-arrow-right"></i></button>
        </div>
        <p style="position:absolute;top:260px;margin-top: 70px;width:100%;font-size: 20px;font-weight:lighter" class="hidden" id="cowsrock">
            As technology advances, increasing numbers of businesses are moving toward
            digital tools. <span class="highlight">Let us help you be next.</span></p>
    </div>
</div>
<div id="content2" class="content" style="height:250px;background-color:rgb(240,240,240);color:black">
    <div class="actual-content" style="width: 100%">
        <h1>We'll help you bring your business to the <span class="highlight">21<sup>st</sup> century</span>.</h1>
    </div>
</div>
<div class="content" style="padding:30px 0;height:auto;background-color:white">
    <div>
        {% for example in site.data.examples %}
        <div class="example">
            <div style="position:relative">
                <i class="icon fas fa-{{ example.icon }}"></i>
                <h2>{{ example.title }}</h2>
                <p>{{ example.description }}</p>
                <button>Learn more <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            document.getElementById("content1").classList.remove("notLoaded");
        }, 800)
        setTimeout(function () {
            document.getElementById("cowsrock").classList.remove("hidden");
        }, 1300);
    })
</script>

{% include footer.html %}

</html>