<!DOCTYPE html>

<head>
    {% if page.title %}
    <title>{{ page.title }} | Denio Software</title>
    {% else %}
    <title>Denio Software | Custom Software Design</title>
    {% endif %}

    
    <link rel="icon" href="/img/icon_512.png" />
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/style.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142578962-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-142578962-1');
    </script>
</head>

<div id="header" class="preload">
    <a href="/"><img src="img/logo_black.png" width="300px" id="logo" /></a>

    <nav>
        {% for item in site.data.menu %}
                <a href="{{ item.url }}"><button class="nav-button {% if item.bold == true %} bold {% endif %} {% if page.url == item.url %}active{% endif %}">{{ item.title }}</button></a>
        {% endfor %}
    </nav>
</div>