.brands {
  color: #313437;
  background-color: #fff;
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

.dropdown-menu {
  border: none;
  border-radius: 10px;
}

ul.example li {
  font-family: Raleway Black, sans-serif;
  text-transform: uppercase;
  color: rgb(130, 160, 160);
}

